<h3>DATA TABLE</h3>
<table class="content-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
        <th><button class="btn btn-info">Create</button></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Colgate</td>
        <td>Mint and Salt</td>
        <td>₹90</td>
        <th><button class="btn btn-secondary">Edit</button></th>
        <th><button class="btn btn-dark">Delete</button></th>
      </tr>
      <tr class="active-row">
        <td>2</td>
        <td>Close-up</td>
        <td>Extra Freshness</td>
        <td>₹85</td>
        <th><button class="btn btn-secondary">Edit</button></th>
        <th><button class="btn btn-dark">Delete</button></th>
      </tr>
      <tr>
        <td>3</td>
        <td>Meshwak</td>
        <td>Natural Herbs</td>
        <td>65</td>
        <th><button class="btn btn-secondary">Edit</button></th>
        <th><button class="btn btn-dark">Delete</button></th>
      </tr>
    </tbody>
  </table>